@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-image: url("/day.png");
	background-size: cover;
	background-position: 50%;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-image: url("/night.png");
		background-size: cover;
		background-position: 50%;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	user-select: none;
}

.divider {
	border: #b9642d solid 2px;
}

.slot {
	width: 72px;
	height: 72px;
	background: url(/slot.png);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fullSlot {
	width: 72px;
	height: 72px;
	background: url(/slotfilled.png);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
